<!DOCTYPE html>
<html>
  <head>
    {{> head-tags/head-tags}}
  </head>
  <body>
    <div id="content">
      {{{ body }}}
    </div>
    <script id="hbs-root" type="application/json">{
      "schema": {{{json @root.schema}}},
      "row": {{{json @root.row}}}
    }</script>
    {{> script-tags/script-tags}}
  </body>
</html>
