<!DOCTYPE html>
<html>
  <head>
    {{> head-tags/head-tags}}
  </head>
  <body>
    <div id="content">
      {{{ body }}}
    </div>
    <script id="hbs-root" type="application/json">
      {{{json @root}}}
    </script>
    {{> script-tags/script-tags}}
  </body>
</html>
