<!DOCTYPE html>
<html>
  <head>
    {{> head-tags/head-tags}}
  </head>
  <body>
    <div id="content">
      {{{ body }}}
    </div>
    <script id="hbs-root" type="application/json">{
      {{#if @root.dataTypeLabels}}"dataTypeLabels": {{{json @root.dataTypeLabels}}},{{/if}}
      {{#if @root.schema}}"schema": {{{json @root.schema}}},{{/if}}
      {{#if @root.row}}"row": {{{json @root.row}}},{{/if}}
      "_commaGuard": null
    }</script>
    {{> script-tags/script-tags}}
  </body>
</html>
