#models_create {
  > form {

    margin-top: 48px;

    header {
      margin-bottom: 48px;

      > .caption {
        margin-top: 13px;
        transition: all 250ms;

        &.hide {
          opacity: 0;
        }
      }
    }

    .columns-wrapper {
      > footer {
        margin-top: 40px;
      }
    }

    .references-wrapper {
      margin-top: 48px;
    }

    > footer {
      display: flex;
      margin-top: 40px;

      > button.finish {
        margin-left: auto;
      }
    }
  }
}
