#models_create {
  h2 {
    margin-top: 84px;
  }

  > form {

    margin-top: 48px;

    header {
      margin-bottom: 48px;

      > .caption {
        margin-top: 13px;
        transition: all 250ms;

        &.hide {
          opacity: 0;
        }
      }
    }

    > footer {
      margin-top: 40px;
      display: flex;

      > button.add-column {
        margin-left: auto;
      }

      > button.finish {
        margin-left: 18px;
      }
    }
  }
}
