<div id="models_create">
  <h2>Create new model</h2>

  <form id="create-form" method="POST" action="/models">
    <header>
      <h4>Your model's name should be a singular noun, like ‘person’, ‘paper’ or ‘Decepticon’.</h4>
      <input type="text" name="displayName" class="large display-name" placeholder="Untitled model">
      <p class="sub hide">This table will be named ‘<span class="table-name"></span>’ in the database</p>
    </header>
    <div class="columns">
      {{> models/create/column/column}}
    </div>
    <footer>
      <button type="button" class="add-column">Add column</button>
      <button type="submit" class="finish primary">Finish</button>
    </footer>
  </form>
</div>
