<div id="models">
  {{#each models}}
  <div class="row">
    <span class="name">{{ _cms_.table.name }}</span>
  </div>
  {{/each}}

  <div class="footer">
    <a href="/models/create">
      <button class="create">Create</button>
    </a>
  </div>
</div>
