<div id="models">
  {{#each models}}
  <div class="row">
    <a class="name"
       href="/models/{{ _cms_.table.name }}">{{ _cms_.table.name }}</a>
  </div>
  {{/each}}

  <div class="footer">
    <a href="/models/create">
      <button class="create">Create</button>
    </a>
  </div>
</div>
