<div id="models_rows">
  <h2>{{ schema.name }}</h2>

  <table>
    <thead>
      {{#each schema.columns}}
        <th>
          <p>{{ displayName }}</p>
        </th>
      {{/each}}
    </thead>
    <tbody>
      {{#each rows}}
      {{> models/rows/row/row this schema=../schema}}
      {{/each}}
    </tbody>
  </table>
</div>
