#models_row_create {
  h2 {
    margin-top: 84px;
  }

  > form {
    margin-top: 48px;

    > footer {
      display: flex;

      button.create {
        margin-left: 18px;
      }

      button.cancel {
        margin-left: auto;
      }
    }
  }
}
