<div id="models_row_create">
  <h2>Creating {{ schema._cms_.table.displayName }}</h2>

  <form id="create-form" method="POST" action="/models/{{ schema._cms_.table.name}}">
    {{#with schema._cms_.table}}
    {{#each columns}}
    <div class="columns">
      {{> models/rows/edit/column/column}}
    </div>
    {{/each}}
    {{/with}}
    <footer>
      <button type="button" class="cancel">Cancel</button>
      <button type="submit" class="create primary">Create</button>
    </footer>
  </form>

  <script class="model-data" type="application/json">
    {{{json this}}}
  </script>
</div>
