<div id="models_row_edit"
     {{~#if createMode}} data-create{{/if}}>

  <h2>
    {{~#if createMode~}}
    Creating
    {{~ else ~}}
    Editing
    {{~/if}} {{ schema.displayName }}</h2>

  <form id="edit-form" method="POST" action="/models/{{ schema.name}}">
    {{#each schema.columns}}
    <div class="columns">
      {{> models/rows/edit/column/column this row=../row}}
    </div>
    {{/each}}
    <footer>
      <button type="button" class="cancel">Cancel</button>
      <button type="submit" class="create primary">Create</button>
      <button type="submit" class="save primary">Save</button>
    </footer>
  </form>

  <script class="model-data" type="application/json">
    {{{json this}}}
  </script>
</div>
