#models_row_edit {

  &[data-create] {
    > form > footer button.save {
      display: none;
    }
  }

  &:not([data-create]) {
    > form > footer button.create {
      display: none;
    }
  }

  h2 {
    margin-top: 84px;
  }

  > form {
    margin-top: 48px;

    > footer {
      display: flex;

      button.primary {
        margin-left: 18px;
      }

      button.cancel {
        margin-left: auto;
      }
    }
  }
}
