<div data-component="models_create_column_extras_file">
  <label>
    <p>Default directory</p>
    <div class="row">
      <span class="hci-uploads-url">{{hciUploadsUrl "" }}</span>
      <input type="text" name="directory">
    </div>
  </label>
</div>
