.modal {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 10%;

  background-color: $cod-grey-shadow;
  z-index: $modal-z-index;
  overflow: scroll;

  &:not(.show) {
    pointer-events: none;
    opacity: 0;
  }

  > .modal-content {
    width: 80%;
    margin: 0 auto;
    max-width: 768px;
    min-height: 600px;
  }
}
