<div data-component="loading">
  <svg width="96" height="96" viewBox="0 0 96 96" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <circle r="40" cx="48" cy="48"></circle>
  </svg>
</div>
